<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Коротко обо мне
  </h1>
    <p>
      Привет, меня зовут Искандер! 
    </p>
    <p>
      Я новичок в области программирования.
      Учиться кодить я начал в Яндекс.практикуме с марта 2022 года.
      Я ведь даже не представлял, что втянусь в мир "бэкенда",
      так как всю жизнь испытывал тягу химии и биологии.
      И вот я здесь со скрежетом в мозгу пытаюсь овладеть навыками программирования
    </p>
    <p>
      На момент написания статьи, прошло со старта обучения три месяца.
      Я уже обучился основам языка Python, работе с Django, с Git
    </p>
    <p>
      Все мои дальнейшие проекты можно отследить по
    <a href=https://github.com/IskanderRRR>ссылке</a>
    </p>
    <p>
    Всем чаю, господа
    </p>
    <p>
      <img src="/static/img/shkya.jpg" width="300" height="300">
    </p>
</div>
{% endblock %}
