{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
<div class="row">
  <h1>С чем мы работали</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img src="/static/img/vsc.jpg" width="50" height="50">
        Visual Studio Code 
      </li>
      <li class="list-group-item">
        <img src="/static/img/py.png" width="50" height="50">
        Python 3.7.9 
      </li>
      <li class="list-group-item">
        <img src="/static/img/dj.png" width="50" height="50">
        Django 2.2.9
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Огромная благодарность коллективу Яндекс.практикума, одногруппникам.<br>
      Особенно моему ревьюеру
    </p>
    <p>
      <img src="/static/img/pepe.webp" width="500" height="500">
    </p>
  </article>
</div>
</div>
{% endblock %} 